:root {
  --padding-top: 0;
  --padding-right: 0;
  --padding-bottom: 0;
  --padding-left: 0;
}

@supports ((top: constant(safe-area-inset-top)) or (top: env(safe-area-inset-top))) and
          ((right: constant(safe-area-inset-right)) or (right: env(safe-area-inset-right))) and
          ((bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom))) and
          ((left: constant(safe-area-inset-left)) or (left: env(safe-area-inset-left))) {
  :root {
    --padding-top: constant(safe-area-inset-top);
    --padding-top: env(safe-area-inset-top);
    --padding-right: constant(safe-area-inset-right);
    --padding-right: env(safe-area-inset-right);
    --padding-bottom: constant(safe-area-inset-bottom);
    --padding-bottom: env(safe-area-inset-bottom);
    --padding-left: constant(safe-area-inset-left);
    --padding-left: env(safe-area-inset-left);
  }
}

* {
  outline: none;
  box-sizing: border-box;
  -webkit-touch-callout:none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-weight: 400;
  background: #FFFFFF;
  -moz-osx-font-smoothing: grayscale; // 字体圆滑
  -webkit-font-smoothing: antialiased; // 字体圆滑
  font-family: "PingFang SC", "Microsoft Yahei";
}

#app {
  margin: 0 auto;
  max-width: 500px;
  min-height: 100vh;
  position: relative;
  background: #FFFFFF;
}

.safe-area-padding-bottom {
  padding-bottom: 136px;
  padding-bottom: calc(136px + constant(safe-area-inset-bottom));
  padding-bottom: calc(136px + env(safe-area-inset-bottom));
}

